body {
    background-image: url('static/background_image.jpeg');
    background-size: auto; /* Adjust background size to match content */
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.img {
    width: 100%; /* Decrease the width by 10% */
    max-width: 600px; /* Maintain a maximum width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 1rem;
}

.description {
    color: white;
    width: 100%; /* Set width same as image */
    height: auto; /* Let the height adjust based on content */
    max-width: 600px; /* Ensure maximum width */
    padding: 0.5rem;
    background-color: #007bff;
    box-sizing: border-box;
    line-height: 1.5;
    text-align: center;
    overflow: auto; /* Add overflow property */
}

.choice-button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    justify-content: center; /* Center buttons horizontally */
    margin-bottom: 0.75rem;
}

.choice-button {
    margin: 0.5rem; /* Add margin between buttons */
    padding: 0.5rem 1.5rem; /* Reduce padding */
    font-size: 0.8rem; /* Reduce font size */
    max-width: 150px; /* Limit the maximum width of the buttons */
    background-color: teal; /* Set background color to teal */
    color: yellow; /* Set text color to yellow */
    border: none; /* Remove border */
    border-radius: 0.5rem; /* Add border radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
    word-wrap: break-word; /* Allow text to wrap within the button */
    text-align: center; /* Center-align the text within the button */
    display: block; /* Display buttons as blocks */
    width: calc(50% - 1rem); /* Set width to 50% of the container with some margin */
}

#result, #game-over, #score {
    position: absolute;
    color: white;
    padding: 1rem;
    z-index: 1;
    display: none;
}

#result {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: yellow;
}

#score {
    top: 1rem;
    left: 1rem;
}

#game-over {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
	background-color: darkblue;
}

#play-sound-button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: green;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
}
